/*SMALL COMPUTERS: FROM 1024 TO 1200PX*/

@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

/*iPAD OR PORTRAIT MODE: FROM 768 TO 1023PX*/

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .works-step {
    margin-bottom: 40px;
  }
  .works-step:last-child {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 50%;
  }
  .icon-small {
    width: 17px;
    margin-right: 5px;
  }
  .city-features {
    font-size: 85%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}


/*SMALL PHONE: FROM 481 TO 767PX*/

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row, .hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
  }
  .main-nav {
    display: none;
  }
  .mobile-nav-icon {
    display: inline-block;
  }
  .main-nav {
    float: left;
    margin-top: 35px;
    margin-left: 25px;

  }
  .main-nav li {
    display: block;
  }
  .main-nav li a:link,
  .main-nav li a:visited{
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  .sticky .main-nav{
    margin-top: 10px;

  }

  .sticky .main-nav li a:link, .main-nav li a:visited {

    padding: 10px 0;
  }
  .sticky .mobile-nav-icon i {
    color: #555;
  }
  .sticky .mobile-nav-icon{
    margin-top: 10px;
  }


  .long-copy {
    width: 100%;
    margin-left: 0%;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .works-step {
    margin-bottom: 20px;
  }
  .works-step:last-child {
    margin-bottom: 20px;
  }
  .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .app-screen {
    width: 40%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  /*.map{
    width: 100%;
    height: auto;
  }*/
  .form-box{
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 0;
  }
  .map-box{
    width: 100%;
    height: auto;
  }
}

/*SMALL PHONE: FROM 0 TO 480PX*/

@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}
