body{
	padding-top: 70px;
}
.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}
.navbar-inverse {
	background:#2c3e50;
	
}
.navbar-inverse .navbar-nav>li>a {
	color: white; 
}

.navbar-inverse .navbar-brand {
	color: white;
}

.flex {
		display: flex;
		flex-wrap: wrap;
}


.thumbnail{
	padding: 0;
	/*background: blue;*/

}

.item:hover img {
	opacity: 0.5;
	filter: grayscale(100%);

}

.item *{
	transition: all 0.3s ease-in-out;
}


div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  text-align: center;

  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.item:hover i{
	transform: translate(-50%, -50%) scale(1.5);
	transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


