:root {
  --main-green: #9cbc68;
  --main-blue: #3f48f9;
}
.spinner,
.cbp-popup-loadingBox,
.tp-loader.spinner0,
#fancybox-loading div {
  border-left: 3px solid rgba(63, 72, 249, 0.15) !important;
  border-right: 3px solid rgba(63, 72, 249, 0.15) !important;
  border-bottom: 3px solid rgba(63, 72, 249, 0.15) !important;
  border-top: 3px solid rgba(63, 72, 249, 0.8) !important;
}
a {
  color: var(--main-blue);
}
.post-title a:hover {
  color: var(--main-blue);
}
ul.circled li:before {
  color: var(--main-blue);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span,
.open > .dropdown-toggle.btn-default,
.btn.cbp-filter-item-custom-active {
  border: 2px solid var(--main-blue);
  color: var(--main-blue) !important;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.btn-aqua:hover,
.btn-aqua:focus,
.btn-aqua:active,
.btn-aqua.active,
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  color: #252525 !important;
}
.navbar-nav > li > a:focus,
.nav > li > a:hover,
.nav > li.current > a {
  background: none;
  color: var(--main-blue) !important;
}
.services-1 .icon i.icn {
  color: var(--main-blue);
}
.services-2 i {
  color: var(--main-blue);
}
.services-2 a:hover {
  color: var(--main-blue) !important;
}
.services-3 i {
  color: var(--main-blue);
}
.progress-list li em {
  color: var(--main-blue);
}
.progress.plain {
  border: 1px solid var(--main-blue);
}
.progress.plain .bar {
  background: var(--main-blue);
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
  color: var(--main-blue);
  border-color: var(--main-blue);
}
.panel-title:hover,
.panel-active .panel-heading .panel-title {
  border: 2px solid var(--main-blue);
}
.panel-title > a:hover,
.panel-active a {
  color: var(--main-blue);
}
.tooltip-inner {
  background-color: var(--main-blue);
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
  border-top-color: var(--main-blue);
}
.tooltip.right .tooltip-arrow {
  border-right-color: var(--main-blue);
}
.tooltip.left .tooltip-arrow {
  border-left-color: var(--main-blue);
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: var(--main-blue);
}
.hint:after,
[data-hint]:after {
  background: var(--main-blue);
}
.hint--top:before {
  border-top-color: var(--main-blue);
}
.hint--bottom:before {
  border-bottom-color: var(--main-blue);
}
.hint--left:before {
  border-left-color: var(--main-blue);
}
.hint--right:before {
  border-right-color: var(--main-blue);
}
.cbp-popup-singlePage .cbp-popup-prev:hover:before,
.cbp-popup-singlePage .cbp-popup-next:hover:before,
.cbp-popup-singlePage .cbp-popup-close:hover:before,
.cbp-popup-singlePageInline .cbp-popup-close:hover:before {
  border: 2px solid var(--main-blue) !important;
  color: var(--main-blue) !important;
}
.sp-selected-thumbnail {
  border-bottom: 3px solid var(--main-blue);
}
.meta a:hover {
  color: var(--main-blue);
}
.sidebox a:hover {
  color: var(--main-blue) !important;
}
ul.layout-switcher li a.active {
  color: var(--main-blue);
  border-color: var(--main-blue);
}
#comments .info h2 a:hover {
  color: var(--main-blue);
}
#comments a.reply-link:hover {
  color: var(--main-blue);
}
.contact-info li a:hover {
  color: var(--main-blue);
}
.pricing .plan h4 span {
  color: var(--main-blue);
}
