body {
  overflow-x: hidden; }

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: 3px solid #444; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background-image: url("../img/image1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background-image: url("../img/image2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background-image: url("../img/image3.jpg");
  background-size: cover; }

.fa {
  font-size: 55px; }

#home-heading {
  position: relative;
  min-height: 200px;
  background-image: url("../img/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-play {
  position: relative;
  min-height: 200px;
  background-image: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }
  #video-play a {
    color: #fff; }

#faq .card {
  border: #444; }
  #faq .card a {
    color: #fff;
    text-decoration: none; }

#faq .card-body, #faq .card-header {
  background-color: #333; }

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

#gallery img {
  min-width: 100%;
  height: 300px;
  transition: all 0.4s linear; }

#gallery img:hover {
  filter: grayscale(100%); }

footer#main-footer {
  background-color: #000;
  color: #fff; }

#page-header {
  height: 200px;
  background-image: url("../img/image1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding-top: 50px; }

#about img {
  margin-top: -50px; }

#icons-section .bg-danger {
  transition: all 0.6s; }

#icons-section .bg-danger:hover {
  border-radius: 50%; }

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
